<div class="container">
  <div class="form">
    <!-- logo -->
    <img class="logo" src="assets/lion_logo-modified.png" alt="logo" />
    <!-- header for sign up -->
    <h2>log in to your account</h2>
    <p>don't have an account?<a href="#">Sign Up</a></p>
    <!-- actual form -->
    <form class="example-form">
      <!-- username -->
      <p class="label">Username</p>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <!-- password -->
      <p class="label">Password</p>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <br />
      <button class="btn" mat-raised-button color="primary">Log In</button>
    </form>
    <!-- end of form -->
  </div>
  <img class="picture" src="../../../../assets/login_cover.jpg" />
</div>
