<div class="container-fluid bg-dark text-light p-5">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/hero.png" alt="hero_image" class="img-fluid rounded" />
    </div>
    <div
      class="col-md-6 d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="display-4 mb-4">ISET Charguia - Animus</h2>
      <p class="lead mb-4">{{ members_num }} Group Members, be the next !</p>
      <button routerLink="/signup" class="btn btn-warning btn-lg">
        Join us
      </button>
    </div>
  </div>
</div>
