<div class="container">
  <h2 class="text-center">
    {{ "Discover the latest discussions" | titlecase }}
  </h2>
  <hr />

  <fieldset class="text-center mt-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Find the discussion you are looking for"
        [(ngModel)]="searchTerm"
      />
      <button
        class="btn"
        [ngClass]="spoiler ? 'btn-danger' : 'btn-success'"
        (click)="spoiler = !spoiler"
      >
        {{ spoiler ? "Spoiler and Spoiler Free" : "Only Spoiler Free" }}
      </button>
      <div class="input-group-append">
        <button
          class="btn btn-primary"
          type="button"
          (click)="searchDiscussions()"
        >
          Search
        </button>
      </div>
    </div>
    <br />
  </fieldset>
  <div class="text-center mt-3 mb-4" *ngIf="userRole == 'admin'">
    <button class="btn btn-primary ml-5 text-center" routerLink="/create_disc">
      <i class="fas fa-circle-plus"></i>
      Add a New Discussion
    </button>
  </div>

  <app-discussion
    *ngFor="let discussion of filteredDiscussions"
    [discussion]="discussion"
    (discussionDeleted)="onDiscussionDeleted($event)"
  ></app-discussion>
</div>
