<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-sm-4 col-md col-sm-4 col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <!--headin5_amrc-->
        <p class="mb10">
          47, Rue des Entrepreneurs Charguia II, 2031 Tunis Carthage.
        </p>
        <p><i class="fa fa-location-arrow"></i> ISET Charguia</p>
        <p><i class="fa fa-phone"></i> +216 74 332 242</p>
        <p><i class="fa fa fa-envelope"></i> animus&#64;isetch.com</p>
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li>
            <a href="https://myanimelist.net/topanime.php">My Anime List</a>
          </li>
          <li><a href="https://www.crunchyroll.com/">Crunchyroll</a></li>
          <li>
            <a href="https://www.netflix.com/browse/genre/7424"
              >Netflix | Anime</a
            >
          </li>
          <li><a href="https://www.funimation.com/">Funimation</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://webenlance.com">Remove Background</a></li>
          <li>
            <a href="http://webenlance.com">Shadows & Mirror Reflection</a>
          </li>
          <li><a href="http://webenlance.com">Logo Design</a></li>
          <li><a href="http://webenlance.com">Vectorization</a></li>
          <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
          <li><a href="http://webenlance.com">Image Cropping</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul2_amrc">
          <li>
            <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p>
              Lorem Ipsum is simply dummy text of the printing...<a href="#"
                >https://www.lipsum.com/</a
              >
            </p>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p>
              Lorem Ipsum is simply dummy text of the printing...<a href="#"
                >https://www.lipsum.com/</a
              >
            </p>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p>
              Lorem Ipsum is simply dummy text of the printing...<a href="#"
                >https://www.lipsum.com/</a
              >
            </p>
          </li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>

  <div class="container">
    <br />
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">
      Copyright &#64;2017 | Designed With by <a href="#">Animus</a>
    </p>

    <ul class="social_footer_ul">
      <li>
        <a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="http://webenlance.com"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>
        <a href="http://webenlance.com"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>
</footer>
