<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-sm-4 col-md col-sm-4 col-12 col text-center">
        <!-- Added text-center class -->
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <!--headin5_amrc-->
        <p class="mb10">
          47, Rue des Entrepreneurs Charguia II, 2031 Tunis Carthage.
        </p>
        <p><i class="fa fa-location-arrow"></i> ISET Charguia</p>
        <p><i class="fa fa-phone"></i> +216 74 332 242</p>
        <p><i class="fa fa fa-envelope"></i> animus&#64;isetch.com</p>
      </div>

      <div class="col-sm-4 col-md col-6 col text-center">
        <!-- Added text-center class -->
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li>
            <a href="https://myanimelist.net/topanime.php">My Anime List</a>
          </li>
          <li><a href="https://www.crunchyroll.com/">Crunchyroll</a></li>
          <li>
            <a href="https://www.netflix.com/browse/genre/7424"
              >Netflix | Anime</a
            >
          </li>
          <li><a href="https://www.funimation.com/">Funimation</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>
    </div>
  </div>

  <div class="container text-center">
    <br />
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">
      Copyright &#64;2017 | Designed With by
      <a href="https://isetch.rnu.tn/">Animus</a>
    </p>

    <ul class="social_footer_ul d-flex justify-content-center pl-0">
      <!-- Added d-flex and justify-content-center classes -->
      <li>
        <a href="https://www.facebook.com/"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>
</footer>
