<div class="container mt-4">
  <h2 class="mb-4 text-center">Create Discussion</h2>
  <form
    *ngIf="createDiscussionForm"
    [formGroup]="createDiscussionForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="title"><i class="fas fa-heading"></i> Title</label>
      <input
        type="text"
        class="form-control"
        formControlName="title"
        id="title"
      />
      <div *ngIf="isTitleTooShort()" class="alert alert-warning">
        Title should be at least 5 characters.
      </div>
      <div *ngIf="isTitleTooLong()" class="alert alert-warning">
        Title should be maximum 100 characters.
      </div>
      <div *ngIf="isTitleNotCapitalized()" class="alert alert-warning">
        Title should start with a capital letter.
      </div>
      <div *ngIf="isTitleInvalid()" class="alert alert-danger">
        Title is required.
      </div>
    </div>
    <div class="form-group">
      <label for="description">
        <i class="fas fa-align-left"></i> Description</label
      >
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
      ></textarea>
      <div *ngIf="isDescriptionTooShort()" class="alert alert-warning">
        Description should be at least 100 characters.
      </div>
      <div *ngIf="isDescriptionTooLong()" class="alert alert-warning">
        Description should be maximum 500 characters.
      </div>
      <div *ngIf="isDescriptionNotCapitalized()" class="alert alert-warning">
        Description should start with a capital letter.
      </div>
      <div *ngIf="isDescriptionInvalid()" class="alert alert-danger">
        Description is required.
      </div>
    </div>
    <div class="form-group">
      <label for="date"><i class="far fa-calendar-alt"></i> Date</label>
      <input
        type="date"
        class="form-control"
        formControlName="date"
        id="date"
      />
      <div *ngIf="isDateInvalid()" class="alert alert-danger">
        Date is required.
      </div>
    </div>
    <div class="form-group">
      <label for="img"><i class="far fa-image"></i> Image URL</label>
      <input type="text" class="form-control" formControlName="img" id="img" />
      <div *ngIf="isImageInvalid()" class="alert alert-danger">
        Image URL is required and should be a valid URL ending with .png, .jpg,
        or .jpeg.
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="spoiler"
          formControlName="spoiler"
          (change)="toggleSpoilerIcon()"
        />
        <label class="form-check-label" for="spoiler"
          ><i
            [ngClass]="{
              'fa-eye': !createDiscussionForm.get('spoiler').value,
              'fa-eye-slash': createDiscussionForm.get('spoiler').value
            }"
            class="far"
          ></i>
          Spoiler</label
        >
      </div>
    </div>

    <div class="form-group">
      <label for="priority">
        <i class="fas fa-sort-numeric-up"></i> Priority</label
      >
      <input
        type="number"
        class="form-control"
        formControlName="priority"
        id="priority"
      />
      <div *ngIf="isPriorityBelowMin()" class="alert alert-warning">
        Priority should be greater than 0.
      </div>
      <div *ngIf="isPriorityAboveMax()" class="alert alert-warning">
        Priority should be less than 5.
      </div>
    </div>
    <div class="form-group">
      <label>Anime Selection</label>
      <div formArrayName="animeCheckboxes">
        <div
          *ngFor="let anime of availableAnimes; let i = index"
          class="form-check"
        >
          <input
            type="checkbox"
            class="form-check-input"
            [formControlName]="i"
          />
          <label class="form-check-label">{{ anime.title }}</label>
        </div>
      </div>
      <div *ngIf="isNoneCheckboxChecked()" class="alert alert-danger">
        At least one anime should be selected.
      </div>
    </div>
    <div class="form-group btn-group">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> Create Discussion
      </button>
      <button type="button" class="btn btn-danger" (click)="cancelCreate()">
        <i class="fas fa-times-circle"></i> Cancel Create
      </button>
    </div>
  </form>
</div>
