input[type="search"] {
  padding-right: 330px;
}

.round {
  border-radius: 50%;
}

.active {
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
}

.logo {
  padding: 7px 10px;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  box-shadow: 2px 5px 12px 5px rgba(101, 100, 100, 0.55);
  color: white;
}

nav {
  width: 100%;
}
