<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <!-- Navbar content -->
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #e3f2fd"
  >
    <div class="container d-flex justify-content-between align-items-center">
      <button
        class="navbar-brand btn btn-secondary logo"
        routerLink="/home/discussions"
      >
        Animus
      </button>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor03"
        aria-controls="navbarColor03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul
          class="navbar-nav mx-auto d-flex justify-content-between align-items-center"
        >
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/home/animes"
              routerLinkActive="active"
              >Animes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/home/discussions"
              routerLinkActive="active"
              >Discussions</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/home/aboutus"
              routerLinkActive="active"
              >About</a
            >
          </li>
        </ul>
      </div>

      <button class="btn btn-secondary" (click)="LogIn_LogOut()">
        {{ this.auth ? "Logout" : "Login" }}
        <i class="fa-solid fa-right-to-bracket"></i>
      </button>
      <!-- with ngIf will change based on the auth -->
    </div>
  </nav>
</nav>
