input[type="search"] {
  padding-right: 330px;
}

.empty {
  width: 45px;
}

.round {
  border-radius: 50%;
}

.zid {
  margin-right: 346px;
}

.active {
  color: black;
  font-weight: bold;
}

.logo {
  background-color: rgb(0, 115, 255);
  padding: 7px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  text-decoration: none;
  box-shadow: 2px 5px 12px 5px rgba(0, 0, 0, 0.55);
}
