<div class="card">
  <div class="card-body">
    <h5 class="card-text"><strong>Title:</strong> {{ discussion.title }}</h5>
    <!-- put the tags here -->
    <div>
      <span class="badge badge-info mr-2">{{ discussion.date | date }}</span>
      <span class="card-text">
        <span
          [class]="
            discussion.spoiler ? 'badge badge-danger' : 'badge badge-success'
          "
        >
          {{ discussion.spoiler ? "Spoiler Alert" : "Spoiler Free" }}
        </span>
      </span>
    </div>
    <!-- end of tags -->
    <p class="card-text">
      <strong>Description:</strong> {{ discussion.description }}
    </p>

    <p class="card-text">
      <strong>Priority:</strong>
      <span
        *ngFor="
          let star of [].constructor(discussion.priority).fill(0);
          let i = index
        "
      >
        <i class="fas fa-star"></i>
      </span>
      <span
        *ngFor="
          let star of [].constructor(5 - discussion.priority).fill(0);
          let i = index
        "
      >
        <i class="far fa-star"></i>
      </span>
    </p>

    <div class="d-flex align-items-center">
      <button
        class="btn btn-info mr-2"
        [routerLink]="'/home/discussions/' + discussion.id"
      >
        Info
      </button>

      <div *ngIf="showJoinLeaveButton">
        <button (click)="joinLeaveDiscussion()" class="btn btn-primary mr-2">
          {{ Joined ? "Leave" : "Join" }}
        </button>
      </div>

      <div *ngIf="showEditDeleteButton">
        <button class="btn btn-warning mr-2">Update</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<br />
