<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="lead text-center">
        <strong>About Us:</strong> Welcome to the ISETCH Anime Club
        {{ "Animus" | journal }}, a vibrant community where passion for anime
        takes center stage. We are a group of enthusiasts dedicated to exploring
        the captivating world of anime through spirited discussions, thoughtful
        debates, and the exciting task of ranking our favorite series.
      </p>

      <h4 class="text-center mt-4">Mission:</h4>
      <p class="lead text-center">
        At ISETCH Anime Club, our mission is to foster a dynamic environment
        where anime aficionados can come together to share their love for this
        diverse and ever-evolving art form. We believe in the power of
        discussion to deepen our understanding of anime, its themes, and its
        impact on our lives.
      </p>

      <h4 class="text-center mt-4">What We Do:</h4>
      <p class="lead text-center">
        <strong>Discussion Events:</strong> Engage in thought-provoking
        conversations about relevant anime topics. From dissecting the symbolism
        in your favorite series to exploring the latest trends in the anime
        industry, our discussion events are a space for both seasoned fans and
        newcomers to share their perspectives.
      </p>
      <p class="lead text-center">
        <strong>Debates:</strong> Challenge your viewpoints and join friendly
        debates with fellow members. Whether it's comparing different genres,
        arguing about the best character arcs, or defending your favorite
        series, our debates are lively, respectful, and a great way to expand
        your anime horizons.
      </p>
      <p class="lead text-center">
        <strong>Anime Rankings:</strong> Together, we embark on the exciting
        journey of ranking anime series. Share your favorites, discover hidden
        gems, and contribute to the creation of our club's anime rankings. It's
        a collaborative effort that reflects the diverse tastes and preferences
        within our community.
      </p>

      <h4 class="text-center mt-4">Communication Skills:</h4>
      <p class="lead text-center">
        In addition to our love for anime, we also emphasize the development of
        communication skills. Through our practices in discussions and debates,
        we aim to cultivate the skills needed for being a good speaker. Some of
        these skills include active listening, critical thinking, articulation,
        and the ability to express ideas clearly and persuasively.
      </p>

      <h4 class="text-center mt-4">Join Us:</h4>
      <p class="lead text-center">
        If you are passionate about anime and eager to connect with like-minded
        individuals, the ISETCH Anime Club welcomes you with open arms. Whether
        you're a casual viewer or an avid fan, there's a place for you in our
        community. Join us for enriching discussions, exciting debates, and the
        joy of exploring the vast world of anime together.
      </p>

      <h4 class="text-center mt-4">Location and Meetings:</h4>
      <p class="lead text-center">
        Find us at {{ "ISETCH" | journal }} on
        {{ "Rue des Entrepreneurs Charguia II" | journal }}. Stay tuned for
        announcements about our regular meetings and special events. Follow us
        on facebook, instagram and twitter to stay updated on all things Animus
        has to offer. Embrace the anime adventure with us at ISETCH. Together,
        let's celebrate the art, storytelling, and camaraderie that anime brings
        into our lives.
      </p>
    </div>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
