<div class="container">
  <div class="container">
    <button class="btn btn-primary ml-5 text-center" (click)="randomAnime()">
      Try your luck!
    </button>
    <div class="text-center mt-3 mb-4" *ngIf="userRole == 'admin'">
      <button
        class="btn btn-primary ml-5 text-center"
        routerLink="/create_anime"
      >
        <i class="fas fa-circle-plus"></i>
        Add a New Anime
      </button>
    </div>
  </div>
  <app-anime
    *ngFor="let anime of animes"
    [anime]="anime"
    (animeDeleted)="onAnimeDeleted($event)"
  ></app-anime>
</div>
